@font-face {
    font-family: "Arial MT";
    src: url("../fonts/ArialMT.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Arial MT Bold";
    src: url("../fonts/ArialMTBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}